@charset "utf-8";
/*重置样式*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: "微软雅黑";
  font-style: normal; }

a {
  text-decoration: none; }

a, a:hover {
  transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear; }

em, i {
  font-style: normal; }

ul, ol, li {
  list-style: none; }

img {
  border: none;
  vertical-align: middle; }

input, select, textarea {
  outline: none;
  border: none;
  background: none; }

textarea {
  resize: none; }

.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both; }

.clearfix {
  zoom: 1; }
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.container {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 250px;
  right: 10px; }

#goToTop {
  cursor: pointer; }

/*重置样式结束*/
.head{
    width: 100%;
    .head_top{
        background: #ededed;
        >div{           
            height: 40px;
            width: 1200px;
            margin: auto;
            color: #9d9d9d;
            p{
                height: 40px;
                line-height: 40px;
            }          
            a{
                display: block;
                height: 40px;
                line-height: 40px;
                color: #555;               
            }
        }
    }
    .head_middle{
        width: 1200px;
        margin: auto;
        padding: 40px 0 45px;
        .head_middleL{
            .img{
                margin-right: 24px;
            }
            h1{
                font-size: 20px;
                margin-bottom: 5px;
                font-weight: 600;
            }
            p{
                font-size: 20px;
                color: #0c5da9;
            }
        }
    }
    .head_nav{
        background: #0c5caa;
        .head_navList{
            width: 1200px;
            margin: auto;
            >li{
                float: left;
                position: relative;
                >a{
                    display: block;
                    height: 70px;
                    width: 165px;
                    text-align: center;
                    line-height: 70px;
                    color: #fff;
                }
                >a:hover{
                    background: #df4a37;
                }
                .head_navListTow{
                    width: 165px;
                    position: absolute;
                    bottom: -140px;
                    background: #0c5caa;
                    display: none;
                    z-index: 10;
                    >li{
                        >a{
                            display: block;
                            height: 70px;
                            width: 165px;
                            text-align: center;
                            line-height: 70px;
                            color: #fff;
                        }
                        a:hover{
                            background: #fff;
                            color: #747474;
                        }
                    }
                }
            }
            >li:hover .head_navListTow{display: block;}
        }
    }
    .head_banner{
        height: 381px;
        .Carousel{
             position: relative;
             height: 381px;            
            >li{
                position:absolute;
                height: 100%;
                top: 0;
                left: 0;
                >img{
                    width: 100%;
                    height: 100%;
                    max-height: 581px;
                    min-height: 381.53px;
                }
            }
        }
        .button_list{
            position: relative;
            bottom:24px;
            height: 0;
            left:0;
            right: 0;
            margin:0 auto;
            width: 380px;
            >li{
                float: left;
                >a{
                    display: block;
                    width: 100px;
                    height: 10px;
                    background: #1680f7;
                    cursor: pointer;
                }
                .active{background: #fff;}
               
            }
        }
    }
    .head_bottom{
        height: 50px;
        padding-top: 10px;
        background: #ececec;
        >ul{
            width: 1200px;
            margin: auto;
            p{
                height: 100%;
                line-height: 40px; 
                span{
                    color: #000;
                    font-weight: bold;
                }              
            }
            .form{
                background:#1680f7 ;
                height: 28px;
                line-height: 0;
                padding: 1px 8px 1px 1px;
                margin-top: 3px;
                input{
                    background: #fff;
                    height: 26px;
                   text-indent: 1em;
                }
                .button{
                    background:none;
                    border: none;
                    cursor: pointer;
                }
            }
        }

    }
}
/*头部结束*/
.main{
    width: 100%;
    .module1{
        width: 1070px;
        height: 410px;
        margin: auto;
        background: url(../img/kunrao.png) no-repeat;
        margin-top: 80px;
        ul{
            padding-top: 24px;
            >li{
                width: 627px;
                height: 50px;
                margin-bottom: 36px;
                line-height: 40px;
            }
        }
        
    }
    .module2{
        background: url(../img/NO.png) no-repeat;
        height: 640px;
        background-size: 100%;
        margin-top: 60px;
        padding-top: 64px;
        .module2_top{
            position: relative;
            width: 800px;
            margin: auto;
            text-align: center;
            height: 80px;            
            color: #fff;
            h3{
                width: 100%;
                text-align: center;
                font-weight: normal;
                bottom: 10px;
                position: absolute;
                font-size: 24px;
            }
            button{
                background: none;
                border: 1px solid #fff;
                height: 45px;
                width: 180px;
                font-size: 20px;
                color: #fff;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
            }
        }
        .module2_list{
            width: 1200px;
            height: 490px;
            margin: auto;
            padding: 70px 0 30px 90px;
            background: #fff;
            >div{
                width: 440px;
                float: left;
                margin-bottom: 50px;
                img{
                    width: 102px;
                    height: 102px;
                    margin-right: 38px;
                }
                h2{
                    color: #0C5CAA;
                    font-size: 24px;
                    margin-bottom: 20px;
                }
                p{
                    width: 300px;
                    line-height: 30px;
                    font-size: 14px;
                    span{
                        color: #dc564e;
                    }
                }
            }
        }
    }
    .module3{
        width: 100%;
        height: 1394px;
        background: url(../img/bg.jpg) no-repeat;
        .module3_box{
            width: 1200px;
            margin: auto;
            border-top: 1px solid #d2d2d2;
            padding-top: 50px;
            .module3_boxTop{
                margin-bottom: 50px;
                >h2{
                    font-size: 36px;
                    text-align: center;
                    color: #0d5da9;
                    i{
                        position: relative;
                        font-size: 62px;
                        color: #e70212;
                        >span{
                        font-size: 20px;
                        position: absolute;
                        width: 170px;
                        top: 10px;
                        color: #000;
                      }
                    }                    
                }
                >p{
                    text-align: center;
                    font-size: 18px;
                }
            }
            .module3_boxList{
                >div>div{
                    width: 500px;
                    >img{
                        margin-right: 15px;
                    }
                    ul{
                        width: 375px;
                        color: #fff;
                        margin-top: 35px;
                        h4{
                            width: 313px;
                            border-bottom: 1px dashed #fff;
                            font-size: 22px;
                            padding-bottom: 20px;
                            margin-bottom: 20px;
                            span{
                                color: #eb1828;
                            }
                        }
                        p{
                            line-height: 30px;
                            span{
                                margin-right: 10px;
                            }
                        }
                        button{
                            width: 114px;
                            height: 40px;
                            background:#3f9ff0;
                            border: none;
                            color: #fff;
                            padding: 5px;
                            margin-top: 30px;
                            span{
                                width: 100%;
                                height: 100%;
                                line-height: 30px;
                                cursor: pointer;
                                display: inline-block;
                                border: 1px solid #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .module4{width: 100%;}
    .module5{
        width: 1200px;
        margin: auto;
        margin-top: 50px;
        .module5_left{
            width: 260px;
            height: 530px;
            background: #1781f8;
            padding: 30px 6px 10px;
            h4{
                text-align: center;
                position: relative;
                color: #fff;
                font-size: 16px;
                line-height: 40px;
                >span{
                    position: absolute;
                    height: 40px;
                    line-height: 40px;
                    color: rgba(255,255,255,0.1);
                    top: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    font-size: 26px;
                    
                }
            }
            ul{
                width: 100%;
                border-radius: 5px;
                height: 450px;
                background: #fff;
                padding: 20px 12px;
                li{
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    margin-bottom: 12px;
                    background: #ededed;
                    padding: 0 22px;
                    position: relative;
                    span{
                        width: 20px;
                        height: 14px;
                        background: url(../img/images/jian1.png) no-repeat;
                        background-size: 100% 100%;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        right: 20px;
                    }
                }
                li:hover{
                    background: #1781f8;
                    color: #fff;
                    span{
                        background: url(../img/images/jian2.jpg);
                    }
                }
            }
        }
        .module5_right{
            width: 910px;
            padding: 10px 0;
            font-size: 14px;
            h2{
                font-weight: normal;
                border-bottom: 1px solid #d2d2d2;
                padding-bottom: 10px;
            }
            i{
                padding: 0px 3px;
                background: red;
                margin-right: 10px;
            }
            a{
                font-size: 16px;
                height: 30px;
                line-height: 30px;
                color: #1480f5;
            }
           >ul{
               margin-top: 20px;
               li{
                   text-align: center;
                   margin-right: 35px;
                   img{
                       border: 1px solid #d2d2d2;
                   }
                   p{
                       margin: 20px 0;
                   }
               }
               li:nth-child(4), li:nth-child(8){margin: 0;}
               li:hover{
                   img{border: 1px solid #4b95f3;}
                   p{
                       color:#4b95f3 ;
                   }
               }
           }
        }
        
    }
    .module6{
        width: 100%;
    }
    .module7{
        width: 1200px;
        margin: auto;
        .module7_title{
            text-align: center;
            margin-top: 50px;
            border-bottom: 1px solid #d2d2d2;
            padding-bottom: 20px;
            position: relative;
            h2{
                font-size: 36px;
                font-weight: normal;
                color: #0b5ca8;
                margin-bottom: 24px;
            }
            p{
                font-size: 20px;
            }
            span{
                position: absolute;
                bottom: -7px;
                width: 110px;
                height: 20px;
                background: #fff;
                i{
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    text-align: center;
                    line-height: 15px;
                    background: #ea1927;
                    color: #fff;
                }
            }
        }
        .module7_list{
            margin-top: 50px;
            >ul{
                width: 280px;
                height: 440px;
                background: #e8e8e8;
                margin-right: 25px;
                h6{
                    padding: 20px 0;
                    margin: 0 16px;
                    font-size: 14px;
                    border-bottom: 1px dashed #999;
                    span{
                        margin-left: 10px;
                    }
                }
                p{
                    margin: 16px;
                    line-height: 30px;
                }
                button{
                    width: 102px;
                    height: 34px;
                    background:#3f9ff0;
                    border: none;
                    color: #fff;
                    margin-left: 18px;
                }
            }
            ul:last-child{margin: 0;}
        }
    }
    .module8{
        width: 100%;
        margin-top: 54px;
        padding: 45px 0;
        .module8_box{
            width: 1200px;
            margin: auto;
            .module8_boxLeft{
                width: 730px;
                >h4{
                    border-bottom:1px solid #d2d2d2;
                    height: 35px;
                    line-height: 35px;
                    color: #737373;
                    font-weight: normal;
                    margin-bottom: 30px;
                    >span{
                        color: #16807f;
                        font-weight: bold;
                        font-size: 20px;
                        margin-right: 10px;
                        border-bottom: 2px solid #1680F7;
                        display: inline-block;
                    }                  
                }
                .module8_boxLeftT{
                    padding-top: 30px;
                    h5{
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    p{
                        line-height: 25px;
                        color:#737373 ;
                    }
                    ul{
                        >li{
                            float: left;
                            margin-top: 25px;
                            button{
                                display: block;
                                width: 73px;
                                height: 30px;
                                border: none;
                                background: #1680F7;
                                margin: 0 3px;
                                color: #fff;
                                font-weight: bold;
                            }
                            button:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .module8_boxLeftT{
                    width: 320px;
                }
            }
            .module8_boxRight{
                width: 420px;
                >h4{
                    border-bottom:1px solid #d2d2d2;
                    height: 35px;
                    line-height: 35px;
                    color: #737373;
                    font-weight: normal;
                    position: relative;
                    >span{
                        color: #16807f;
                        font-weight: bold;
                        font-size: 20px;
                        margin-right: 10px;
                        border-bottom: 2px solid #1680F7;
                        display: inline-block;
                    }                  
                }
                .module8_boxRight_slider{
                    position: relative;
                    width: 100%;
                    height: 260px;
                    margin-top: 42px;
                    .module8_boxRight_sliderB{
                        width: 200px;
                        height: 100%;
                        margin: auto;
                        text-align: center;
                        position: relative;
                        >li{
                            position: absolute;
                            top: 0;
                            left:0;
                            
                        }
                    }
                    >a{
                        position: absolute;
                        width: 20px;
                        height: 25px;
                        border: 2px solid #4f4f4f;
                        color: #4f4f4f;
                        text-align: center;
                        cursor: pointer;
                        margin: auto;
                        top: 0;
                        bottom: 0;
                    }
                    a:hover{
                        border-color: #ec1927;
                        color: #ec1927;
                    }
                    >.right{
                        right: 0;
                    }
                }
            }
        }
    }
    .module9{
        width: 1200px;
        margin: auto;
        .module9_left{
             width: 730px;
             >h4{
                border-bottom:1px solid #d2d2d2;
                height: 35px;
                line-height: 35px;
                color: #737373;
                font-weight: normal;
                margin-bottom: 30px;
                >span{
                    color: #16807f;
                    font-weight: bold;
                    font-size: 20px;
                    margin-right: 10px;
                    border-bottom: 2px solid #1680F7;
                    display: inline-block;
                }                  
            }
            ul{
                width: 350px;
               >li{
                   height: 40px;
                   line-height: 40px;
                   color: #555;
                   font-size:14px ;
                   border-bottom: 1px dashed #999;
                   i{
                       color: #999;
                   }
               }
               li:hover{
                   span{
                       color: #1680F7;
                   }
               }
            }
        }
        .module9_Rgiht{
            width: 420px;
                >h4{
                    border-bottom:1px solid #d2d2d2;
                    height: 35px;
                    line-height: 35px;
                    color: #737373;
                    font-weight: normal;
                    position: relative;
                    >span{
                        color: #16807f;
                        font-weight: bold;
                        font-size: 20px;
                        margin-right: 10px;
                        border-bottom: 2px solid #1680F7;
                        display: inline-block;
                    }                  
                }
                ul{
                    padding: 30px 0 0 0 ;
                    h5{
                        font-weight: normal;
                        font-size: 14px;
                        margin-bottom: 14px;
                        span{
                            width: 22px;
                            height: 22px;
                            text-align: center;
                            line-height: 22px;
                            display: inline-block;
                            background: #1680F7;
                            font-weight: bold;
                            border-radius: 5px;
                            color: #fff;
                            margin-right: 10px;
                        }
                    }
                    p{
                        span{
                            width: 22px;
                            height: 22px;
                            text-align: center;
                            line-height: 22px;
                            display: block;
                            float: left;
                            background: #e91a29;
                            font-weight: bold;
                            border-radius: 5px;
                            color: #fff;
                            margin-right: 10px;
                        }
                    }
                }
             
        }
    }
    .module10{
        width: 1200px;
        margin: auto;
        padding: 40px 0;
        .links{
            height: 50px;
            border-right: 1px solid #999;
            padding-right: 14px;
            span{
                font-size: 18px;
            }
            p{
                margin-top: 5px;
                color: #555;
            }
        }
        .links_list{
            li{float: left;margin-bottom: 15px;margin-left: 22px;a{color: #555;}}
        }        
    }
}
.ProductDetails{
    width: 1200px;
    margin:30px auto;
    .ProductDetails_left{
        width: 260px;
        .module5_left{
            width: 260px;
            background: #1781f8;
            padding: 20px 6px 10px;
            margin-bottom: 10px;
            h4{
                text-align: center;
                position: relative;
                color: #fff;
                font-size: 20px;
                line-height: 40px;
                margin-bottom: 22px;
                >span{
                    position: absolute;
                    height: 40px;
                    line-height: 40px;
                    color: rgba(255,255,255,0.1);
                    top: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    font-size: 26px;
                    
                }
            }
            ul{
                width: 100%;
                border-radius: 5px;

                background: #fff;
                padding: 20px 12px;
                li{
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    margin-bottom: 12px;
                    background: #ededed;
                    padding: 0 22px;
                    position: relative;
                    span{
                        width: 20px;
                        height: 14px;
                        background: url(../img/images/jian1.png) no-repeat;
                        background-size: 100% 100%;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        right: 20px;
                    }
                }
                li:hover{
                    background: #1781f8;
                    color: #fff;
                    span{
                        background: url(../img/images/jian2.jpg);
                    }
                }
            }
            ol{
                width: 100%;
                border-radius: 5px;

                background: #fff;
                padding: 20px 12px;
                text-align: center;
                img{
                    border: 1px solid #CDCDCD;
                }
                p{
                    margin: 20px 0;
                    color: #555;
                }
            }
        }
    }
    .ProductDetails_right{
        width: 912px;
        .paging{
                text-align: center;
                margin: 30px 0;
                a{
                    display: inline-block;
                    padding: 13px 18px;
                    background: #eeeded;
                    color: #777;
                }
                a:hover{
                    background: #1581f6;
                    color: #fff;
                }
            }
        >h2{
            border-bottom: 1px solid #d2d2d2;
            color: #1880f8;
            font-weight: bold;
            font-size: 14px;
            i{
            padding: 0px 2px;
            background: red;
            margin-right: 10px;
        }
        a{
            font-size: 12px;
            height: 30px;
            line-height: 30px;
            color: #777;
        }
        }
        
        >dl{
            margin-top: 20px;
            dt{
                text-align: center;
                margin-bottom: 24px;
                h4{
                    color: #1880f8;
                    font-weight: bold;
                    font-size: 16px;
                    margin-bottom: 20px;
                }
                p{
                    color: #777;
                }
            }
            dd{
                img{padding-left: 12px;}
                p{
                    line-height: 30px;
                    color: #777;
                    padding: 12px 0;
                    border-bottom: 1px solid #CDCDCD;
                }
            }
        }
        >ul{
            padding: 12px 0;
            border-bottom: 1px solid #CDCDCD;
            li{
                margin-bottom: 10px;
                color: #777;
                a{
                    color: #1480f5;
                }
                
            }
        }
        >.ProductDetails_botton{
            padding-top: 20px;
            >h4{
                background: #1680F7;
                padding: 5px;
                color: #fff;
                line-height: 30px;
                font-weight: normal;
                a{
                    display: inline-block;
                    width: 93px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    border-radius: 5px;
                    background: #fff;
                    color: #777;
                }
            }
            >ul{
                padding: 20px;
                border-bottom: 1px dashed #CDCDCD;
                >li{
                    float: left;
                }
                .one{
                    width: 70px;
                    text-align: center;
                    font-weight: bold;
                    >span{
                        display: block;
                        font-size: 40px;

                    }
                }
                .tow{
                    width: 600px;
                    padding-left: 30px;
                    h5{
                        margin-bottom: 10px;
                        font-size: 16px;
                        padding-top: 7px;
                        a{
                            color: #555;
                        }
                        a:hover{
                            color: #0770ea;
                        }
                    }
                    p{color: #777;}
                }
                .last{
                    float: right;
                   line-height: 76px;
                    a{
                        display: inline-block;
                        width: 100px;
                        height: 40px;
                        border: 1px solid #0770ea;
                        text-align: center;
                        line-height: 40px;
                        color: #0770ea;
                    }
                    a:hover{
                        color: #fff;
                        background:#0770ea;
                    }
                }
            }
        }
        .ProductCenter{
            .ProductCenter_list{
                >ul{
                     margin-top: 20px;
                     li{
                           text-align: center;
                           margin-right: 35px;
                           img{
                               border: 1px solid #d2d2d2;
                           }
                           p{
                               margin: 20px 0;
                           }
                      }
                      li:nth-child(4), li:nth-child(8){margin: 0;}
                      li:nth-child(8), li:nth-child(8){margin: 0;}
                      li:nth-child(12), li:nth-child(8){margin: 0;}
                      li:nth-child(16), li:nth-child(8){margin: 0;}
                      li:nth-child(20), li:nth-child(8){margin: 0;}
                      li:hover{
                      img{border: 1px solid #4b95f3;}
                      p{
                           color:#4b95f3 ;
                       }
                   }
                }
            }
            
            .paging{
                text-align: center;
                margin: 30px 0;
                a{
                    display: inline-block;
                    padding: 13px 18px;
                    background: #eeeded;
                    color: #777;
                }
                a:hover{
                    background: #1581f6;
                    color: #fff;
                }
            }
        }
        .AboutUs{
            p{
                text-indent: 1em;
                line-height: 30px;
                margin-bottom: 12px;
            }
        }
        
    }
}
.foot{
    width: 100%;
    margin:auto;
    border-top: 1px solid #cdcdcd;
    padding-top: 30px;
    >div{
        width:1200px; 
        margin: auto;
    }
    ul{
        li{margin-bottom: 10px;color: #555;}
    }
    dl{
        margin-left: 42px;
        dt{
            color: #333;
            margin-bottom: 17px;
            font-weight: bold;
        }
        dd{
            margin-bottom: 17px;
            color: #555;
        }
    }
}
.footer{
    width: 100%px;
    margin: auto;
    border-top: 1px solid #cdcdcd;
    padding-top: 30px;
    ul{
        width: 1200px;
        margin: auto;
        color: #555;
        padding-bottom: 20px;
    }
    
}
@media(max-width:1200px){
   .head{width: 1200px;} 
   .main{width: 1200px;}
   .foot{width: 1200px;}
   .footer{width: 1200px;}
}
